# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Database dumps / cache / misc
*.sqlite
*.db
*.sql
.DS_Store

# OS / IDE
Thumbs.db
.idea/
.vscode/
*.swp

# Others
coverage/
dist/
logs/access.log 
logs/ 
