<h2 class="page-title">Login</h2>
<form method="POST" action="/login" class="form-box">

  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="At least 6 characters">

  <button type="submit" class="btn">Login</button>
</form>